<!DOCTYPE html>
<html lang="en">
<head>
    <title>SCHEDULE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="description" content="Plus qu'un bon café. Explorez le menu, inscrivez-vous à Mr. Coffee, gérez votre carte-cadeau et plus encore."> -->
    <!-- <link rel="stylesheet" href="./application.css"> -->
</head>
<body>
    {{{body}}}
</body>
</html>