<form action="/new" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <p>Day of the week:</p>
    <label for="day_of_the_week">Monday</label>
    <input type="radio" id="monday" name="day_of_the_week" value="1">

    <label for="day_of_the_week">Tuesday</label>
    <input type="radio" id="tuesday" name="day_of_the_week" value="2">

    <label for="day_of_the_week">Wednesday</label>
    <input type="radio" id="wednesday" name="day_of_the_week" value="3">

    <label for="day_of_the_week">Thursday</label>
    <input type="radio" id="thursday" name="day_of_the_week" value="4">

    <label for="day_of_the_week">Friday</label>
    <input type="radio" id="friday" name="day_of_the_week" value="5">

    <label for="day_of_the_week">Saturday</label>
    <input type="radio" id="saturday" name="day_of_the_week" value="6">

    <label for="day_of_the_week">Sunday</label>
    <input type="radio" id="sunday" name="day_of_the_week" value="7">

    <label for="start_time">Start time:</label>
    <input type="time" id="start_time" name="start_time">

    <label for="end_time">End time:</label>
    <input type="time" id="end_time" name="end_time">

    <input type="submit" value="Submit">
</form>