{{#if (isDefined error)}}
    {{#if error}}
    <p>Fatality</p>
    {{else}}
    <p>Success register!</p>
    {{/if}}
{{/if}}

<form action="/new" method="post">
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label text-dark">Username:</label>
        <div class="col-sm-10">
            <input type="username" class="form-control" id="colFormLabel" name="username">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="inlineFormCustomSelectPref">Day of the week:</label>
        <div class="col-sm-10">
            <select class="custom-select" id="inlineFormCustomSelectPref" name="day_of_the_week">
                <option selected>Choose...</option>
                {{#each days as |day|}}
                <option value="{{nextDayWeek @index}}">{{day}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">Start time:</label>
        <div class="col-sm-10">
            <input type="time" class="form-control" id="colFormLabel" name="start_time">
        </div>
    </div>
    <div class="form-group row">
        <label for="colFormLabel" class="col-sm-2 col-form-label">End time:</label>
        <div class="col-sm-10">
            <input type="time" class="form-control" id="colFormLabel" name="end_time">
        </div>
    </div>
    <div class="col text-center">
        <input type="submit" class="btn btn-secondary btn-sm">
        <a href="/" class="btn btn-light btn-sm" role="button" aria-pressed="true">View All Schedules</a>
    </div>
</form>