body {
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    background-color: #FA5963;
    display: flex;
    flex-flow: column;
}

.header {
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row;
    padding: 10px 50px 5px 50px;
    height: 150px;
}

.header h2 {
    color: #FA5963;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex-grow: 1;
    padding: 150px 200px 100px 200px;
}

form {
    width: 58%;
}
